body {
  background-color: #00549b !important;
  margin: 12px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-align: left;
}

.page__background {
  background-color: #00549b !important;
}

h1,
h2,
h5 {
  color: #fff;
}

.time {
  margin-top: -4px !important;
}

.rec {
  margin-top: 16px !important;
}

.vertical-center-screen-1 {
  margin-top: 25vh !important;
}

.p-r-42 {
  padding-right: 42px !important;
}

.p-r-26 {
  padding-right: 26px !important;
}

.p-r-19 {
  padding-right: 19px !important;
}

.m-t-26 {
  margin-top: 26px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.btn-bg,
.btn-bg:active,
.btn-bg:focus {
  background-color: #c5d568 !important;
  color: #2f2f2f !important;
  border: 0 !important;
}

.input-group-text,
.custom-select,
.border-none {
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.font-weight-bold-custom {
  font-weight: 500 !important;
}

.icon-white {
  color: #fff;
}

.card-custom-margin {
  margin-left: 1px !important;
  margin-right: 4px !important;
  padding: 2px !important;
}

.card-start-time {
  font-size: 28px !important;
  font-weight: 400 !important;
  color: #000 !important;
  margin-left: 12px !important;
}

.icon-size {
  font-size: 20px;
}

.arrival-time {
  font-size: 20px !important;
}

.crowd-bar {
  padding: 12px;
  text-align: center;
  margin-top: 16px;
}

.others-margin {
  margin-top: 16px !important;
}

.crowd-icon-margin {
  margin-left: -20px;
  margin-right: 6px;
}

.crowd-bar-low {
  color: #00a17b !important;
  background-color: #c9f0e7 !important;
}

.crowd-bar-high {
  background-color: #fbdee0 !important;
  color: #eb5863 !important;
}

.crowd-bar-medium {
  background-color: #ffaa0b59 !important;
  color: #b37503 !important;
}

.card-title-journey {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 500;
}

.margin-bottom {
  margin-bottom: 32px;
}

.bar-font {
  font-size: 14px;
}

.button-notify {
  font-size: 14px;
}

.button-start {
  font-weight: 600;
}

#start-journey-button {
  padding: 16px;
}

.active {
  background-color: #00549b;
  border: 1px solid #fff;
  color: #fff;
}

.favorite-screen1-subtitle {
  font-size: 18px !important;
  margin-top: -0.75rem !important;
}

.arrival-time-screen3 {
  margin-top: 5px;
  margin-left: -18px;
  margin-bottom: 18px;
}

#fixme {
  position: fixed;
  bottom: 0;
  z-index: 999;
  left: 0;
  background: #fff;
  color: #000;
  padding: 16px;
  clear: both;
}

.toolbar-favorite {
  font-size: 28px;
  color: #00549b;
}

.m-t-8 {
  margin-top: 8px;
}

.inactive-tabmenu {
  opacity: 0.5;
}

.p-b-50 {
  padding-bottom: 100px !important;
}
